.tabouterbord {
    border: 1px solid black;
    padding: 8px;
    border-radius: 6px;
    border-collapse: collapse;
}

.tabcell {
    border-bottom: 1px solid black;
    padding: 8px;
}

.tabrow {
    color: black;
    background-color: white;
}


.tabrow:hover {
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
}

